body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* headers */

.header1 {
  background-color: #1a4645;
  padding-left: 2rem;
  padding-right: 2rem;

  font-size: small;
  display: flex;
  justify-content: space-between;
}

.insideheader1 {
  display: flex;
}

.insideheader1 a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  line-height: 3.33;
  font-size: 13px;
}

.header1 p {
  color: white;
  font-weight: 500;
  padding-right: 1rem;
}

.insideheader12 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15rem;
}

.insideheader12 .button {
  background-color: #f58800;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.insideheader13 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header2 {
  display: flex;
  border-bottom: double;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.header2 a img {
  width: 100%;
  width: 300px;
  height: 100px;
  object-fit: cover;
}

/* main */

main {
  padding: 1rem;
}

main .titles {
  width: 50%;
  margin: auto;
  text-align: center;
}

.products {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.product {
  border: 1px #404040;
  margin: 1rem;
}

.product img {
  width: 100%;
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.product-info {
  padding-left: 1rem;
}

.product-info .price {
  font-size: 15px;
  font-weight: bolder;
}
